*{
   margin: 0;
   padding: 0;
}
/* <!-- this section below is the navbar --> */

nav{
    background-color: #a9bfff;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h1{
    padding-left: 10%;
    font-size: 40px;
}

ul{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

li > a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

/* <!-- below is the header --> */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 50px;
}
.header > h2{
    font-size: 30px;
    margin-left: 100px;
}

.header > div{
    margin-right: 90px;
}

hr{
    width: 75%;
    margin-left: 100px;
    border-bottom: 2px solid black;
}

/* <!-- weather card area --> */

.weather-card-area{
    display: flex;
    justify-content: center;
}
.weather-card{
    margin: 20px;
}
.weather-card > h3, p{
    text-align: center;
}

.weather-card > img{
    height: 150px;
}
.weather-numbers{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.high-temp{
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.low-temp{
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

/* <!-- cookie section below --> */
.cookie-message{
    outline: 2px solid black;
    width: 680px;
    height: 100px;
    position: fixed;
    left: 80px;
}

.cookie-message > h4{
    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.cookie-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cookie-body > img{
    margin-left: 20px;
}
.cookie-body > p {
    width: 400px;
    text-align: left;
}
.cookie-body > button{
    background-color: #a9bfff;
    box-shadow: 2px 2px 0px black;
    border-color: black;
    height: 30px;
    width: 90px;
    font-size: 18px;
    margin-right: 20px;
}
