*{
    color: white;
    margin: 0;
    padding: 0;
    background-color: black;
    outline: 1px solid red;
}

img{
    height: 100px;
}

.header{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 90px;
}

ul{
    display: flex;
    justify-content:space-evenly;
    width: 40%;
    /* flex: 2; */
}

li{
    list-style-type: none;
    /* padding-right: 20px; */
}

img,h1,input{
    /* flex:1; */
}